tr 
  td= product.productName
  td= new Intl.NumberFormat('en-US', {style: 'currency', currency: 'USD'}).format(product.productPrice )   
  td
    img(width="50" src= product.thumbnail alt="not found")